@import "tailwindcss";

:root {
  --bg-dark: hsl(0, 0%, 100%);
  --bg: hsl(0, 0%, 95%);
  --bg-light: hsl(0, 0%,90%);

  --text: hsl(0, 0%, 05%);
  --text-muted: hsl(0, 0%, 20%);

  --border: hsl(0, 0%, 30%);
  --highlight: hsl(0, 0%, 60%);

  --primary: hsl(82,85%,67%);
  --primary-hover: hsl(82,85%,75%);

  --secondary: hsl(221,38%,11%);
  --secondary-hover: hsl(221,38%,6%);

  --radius-custom: 18px;
}

@theme inline {

  --font-poppins: "Poppins", sans-serif;
  
  --color-bg-dark: var(--bg-dark);
  --color-bg: var(--bg);
  --color-bg-light: var(--bg-light);

  --color-text-main: var(--text);
  --color-text-muted: var(--text-muted);

  --color-border-custom: var(--border);
  --color-highlight: var(--highlight);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);

  --radius-custom: var(--radius-custom);

}

@layer base {
  * {
    @apply transition-all duration-300 ease-in-out;
  }

  body {
    @apply bg-bg text-text-main font-poppins;
  }

  .no-overflow {
    @apply overflow-hidden
  }
  
}